div.board
    div.row(ng-repeat="row in grid")
      div.square(ng-repeat="square in row" ng-click="select(square)" ng-class="{selected: square == selected, residential: square.type == 'Residential', commercial: square.type == 'Commercial', 'road-horiz': square.type == 'Road' && square.surrounding.below != 'Road' && square.surrounding.above != 'Road', 'road-vert': square.type == 'Road' && square.surrounding.right != 'Road' && square.surrounding.left != 'Road', 'road-cross': square.type == 'Road' && (square.surrounding.below == 'Road' || square.surrounding.above == 'Road') && (square.surrounding.right == 'Road' || square.surrounding.left == 'Road'), robbed: square.robbed, 'on-alert': square.onAlert}")

        div.colorer(ng-style="{opacity: calcOpacity(square)}")

        div.selector
