.game {
  height: 100%;

  .board {
    display: inline-block;
    height: 100%;
    width: 75%;
    overflow: scroll;

    .row {
      display: inline-block;
      height: 50px;
      white-space: nowrap;

      .square {
        display: inline-block;
        box-sizing: border-box;
        border: 1px solid rgba(0,0,0,.05);
        height: 100%;
        width: 50px;
        vertical-align: bottom;

        &.selected {
          border: 5px solid green;
        }

        &.residential {
          background: orange;
        }

        &.commericial {
          background: blue;
        }
      }
    }
  }

  .info {
    display: inline-block;
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    border-left: 3px solid black;
    vertical-align: top;

    .player-stats {
      background: black;
      color: white;
      text-align: right;
      padding: 10px;
      font-size: 18px;
    }

    .selected-stats {
      margin-top: 10px;

      p {
        margin-bottom: 3px;
      }
    }
  }

}


