div.game
  include pre-game-overlay.jade

  include robbing-overlay.jade

  include post-robbing-overlay.jade

  include rand-events.jade

  include court-hearing.jade

  include board.jade

  include sidebar.jade

  include store.jade





