div.game(ng-controller="MainCtrl")

  div.board
    div.row(ng-repeat="row in grid track by $index" ng-style="{height: calcPercent + '%'}")
      div.square(ng-repeat="square in grid[$index] track by $index" ng-click="select(square)" ng-class="{selected: square == selected, residential: square.type == 'Residential', commericial: square.type == 'Commercial'}" ng-style="square.style")

  div.info
    div.player-stats
      p.money ${{ player.money }}

    div.selected-stats(ng-if="selected")
      p.heading Stats:
      div.stats
        p.type Type: {{ selected.type }}
        p.percentage Chance for success: {{ selected.baseSuccessPercentage | rounded }}%
        p.payoff Max Payoff: ${{ selected.maximumPayoff }}

      div.actions
        button.rob(ng-click="rob()") Rob





