.game {

  .board {
    display: inline-block;
    border: 3px solid black;
    height: 500px;
    width: 500px;

    .row {
      display: inline-block;
      width: 100%;

      .square {
        display: inline-block;
        box-sizing: border-box;
        border: 1px solid rgba(0,0,0,.05);
        height: 100%;
        vertical-align: bottom;

        &.selected {
          border: 3px solid green;
        }

        &.residential {
          background: orange;
        }

        &.commericial {
          background: blue;
        }
      }
    }
  }

  .info {
    display: inline-block;
    width: 300px;
    height: 500px;
    border: 3px solid black;
    vertical-align: bottom;

    .player-stats {
      background: black;
      color: white;
      text-align: right;
    }

    .selected-stats {
      margin-top: 10px;

      p {
        margin-bottom: 3px;
      }
    }
  }

}


