div.post-robbing(ng-if="postRobbing")
    div.white
      div(ng-if="lastRobbery.success")
        h2 Success!
        p You made away with ${{ lastRobbery.payoff }} worth of goods!

        div.actions
          md-button.md-primary.md-raised(type="button" ng-click="hidePostRobbing()") Ok

      div(ng-if="postPostRobbing")
        h2 Success!
        p
          span You made away with
          span.money    ${{ lastRobbery.payoff }}
          span    worth of goods!

        div.actions
          md-button.md-primary.md-raised(type="button" ng-click="hidePostPostRobbing()") Ok

      div(ng-if="!lastRobbery.success")
        h2 Failure
        p You got caught.
        p Refresh browser to play again.
        p
          span Your score:
          span.money  ${{ player.money }}
        p Too bad money doesn't count for anything in prison.
