div.post-robbing(ng-if="postRobbing || postApplyingForJob")
    div.white(ng-if="postRobbing")
      div(ng-if="lastRobbery.success")
        h2(ng-if="lastRobbery.getawayMishap") Screwed.
        h2(ng-if="!lastRobbery.getawayMishap") Success:
        p(ng-if="!lastRobbery.getawayDriver")
          span You made away with
          span.money  ${{ lastRobbery.payoff }}
          span  worth of goods!

        p(ng-if="lastRobbery.getawayDriver && !lastRobbery.getawayMishap")
          span You and your driver got away with
          span.money  ${{ lastRobbery.payoff }}
          span  each.

        p(ng-if="lastRobbery.getawayDriver && lastRobbery.getawayMishap")
          span The driver screwed you over.
          span When you got in the car he took all the stolen money, plus held you up at gunpoint for
          span.money-negative  ${{ lastRobbery.payoff | abs }}

        div.actions
          md-button.md-primary.md-raised(type="button" ng-click="hidePostRobbing()") Ok


      div(ng-if="!lastRobbery.success")
        h2 You were caught:
        p {{ lastRobbery.randomEvent.reason }}
        img.police-car(src="/assets/images/police-car.png")
        div.actions
          md-button.md-primary(type="button" ng-click="goToCourt(false)") Accept court appointed attourney
          md-button.md-primary.md-raised.green-button(type="button" ng-click="goToCourt(true)") Hire a Lawyer - $500

    div.white(ng-if="postApplyingForJob")
      div(ng-if="selected.employedHere")
        h2 Success:
        p
          span You were hired. You start tomorrow.
          span Don't miss a day, or you'll be fired.

      div(ng-if="!selected.employedHere")
        h2 Failed:
        p
          span They wouldn't hire you.

      div.actions
          md-button.md-primary.md-raised(type="button" ng-click="hidePostApplying()") Ok
