div.post-robbing(ng-if="postRobbing")
    div.white
      div(ng-if="lastRobbery.success")
        h2 Success!
        p You made away with ${{ lastRobbery.payoff }} worth of goods!

        div.actions
          md-button.md-primary.md-raised(type="button" ng-click="hidePostRobbing()") Ok

      div(ng-if="!lastRobbery.success")
        h2 Failure
        p You got caught. Refresh browser to play again.
        p Your score: {{ player.money }}
