div.pre-game(ng-if="preGame")
    div.white
      h3 Welcome back to the city.
      p You were just released from prison.
      p You have no relatives, nowhere to live, and a few bad habits.
      p Good luck.
      div.actions
        md-button.md-warn.md-raised(md-no-ink ng-click="startGame()") Begin

