div.pre-game(ng-if="preGame")
    div.white
      h3 Welcome to the City!
      p You were just released from prison.
      p You have debts to pay and a serious drug habit.
      p No one will hire you...
      div.actions
        md-button.md-warn.md-raised(ng-click="startGame()") Begin

