div.pre-game(ng-if="preGame")
    div.white
      h3 Welcome back.
      p You were just released from prison.
      p You have no relatives, nowhere to live, and a serious drug habit.
      p No one will hire you...
      p (Tip: Lighter colored squares represent properties with a higher chance of success. Start with those.)
      div.actions
        md-button.md-warn.md-raised(ng-click="startGame()") Begin

