div.post-robbing(ng-if="postPostRobbing")
    div.white
      div
        h2 Afterwards...
        p Filled with adrenaline from last night's robbery, you spend the day high on drugs.
        p You spend ${{lastRobbery.randomCashSpend}} on drugs.

        div.actions
          md-button.md-primary.md-raised(type="button" ng-click="hidePostPostRobbing()") Ok
