div.post-robbing(ng-if="postPostRobbing")
    div.white
      div
        h2 Afterwards...
        p {{ lastRobbery.randomEvent.phrase }}, {{ lastRobbery.randomEvent.reason }}.
        p
          span You spend
          span.money.negative  ${{lastRobbery.randomEvent.randomCashSpend}}
          span  {{ lastRobbery.randomEvent.spentOn }}.

        div.actions
          md-button.md-primary.md-raised(type="button" ng-click="hidePostPostRobbing()") Ok
