div.robbing(ng-if="robbing")
    div.white
      div.violence
        h3 How much VIOLENCE will you use in this robbery?
        <md-slider aria-label="violence slider" flex min="0" max="{{ player.possibleViolence() }}" ng-model="player.violence" aria-label="">
        </md-slider>
        div.violence-num Violence: {{ player.violence }}%

      div.stats
        div.percentage
          p Chance for success:
          p.bold.success {{ calcSuccessPercentage() | rounded }}%

      div.actions
        md-button.md-primary(type="button" ng-click="cancelRob()") Cancel
        md-button.md-warn.md-raised(ng-click="rob()") Rob
