div.sidebar
    div.player-stats
      p.money Cash: ${{ player.money }}
      p.day Night: {{ player.day }}
      p.age Age: {{ 18 + player.day / 365 | number:0}}
      p.heat Heat: {{ player.heat }}
      p.items(ng-show="player.items.length > 0") Inventory:
        span(ng-repeat="item in player.items track by $index")  -{{ item.name }}-

    div.selected-stats
      h3 Property Info:

      div(ng-show="!selected")
        div.stats
          div
            p Click on a property to see details.

      div(ng-class="{'vis-hidden': !selected}")
        h2.red(ng-if="selected.robbed") ROBBED
        h2.red(ng-if="selected.onAlert") ON ALERT FROM NEARBY VIOLENCE
        
        img.thumbnail(ng-src="{{selected.thumbnail}}")

        div.stats
          div.type
            p.label Type:
            p.stat {{ selected.type }}
          div.residents(ng-class="{'vis-hidden': selected.type == 'Road' || selected.type == 'Park'}")
            p.label Residents:
            p.stat {{ selected.info.name }}
          div.percentage(ng-class="{'vis-hidden': selected.type == 'Road'}")
            p.label Chance for success:
            p.stat {{ selected.baseSuccessPercentage + player.successModifier() | rounded }}%
          div.payoff(ng-class="{'vis-hidden': selected.type == 'Road'}")
            p.label Possible Payoff:
            p.stat ${{ selected.maximumPayoff }}

        div.actions
          md-button.md-warn.md-raised.rob-this-property(md-no-ink ng-class="{'vis-hidden': selected.type == 'Road'}" type="button" ng-click="startRobbing()") Rob this property
