.game {
  .sidebar {
    background: $white;
    position: fixed;
    right: 10px;
    top: 10px;
    // display: inline-block;
    width: 30%;
    min-width: 320px;
    box-sizing: border-box;
    border: 3px solid $black;
    vertical-align: top;
    z-index: 9;
    // overflow: auto;

    .question-mark {
      position: absolute;
      top: 5px;
      left: 5px;
      color: white;
      border: 1px solid white;
      padding: 0px 4px 1px 4px;

      .info {
        position: absolute;
        text-align: left;
        top: 0;
        left: 0;
        background: white;
        border: 3px solid $black;
        color: black;
        width: 250px;
        z-index: 25;
        display: none;

        tr {

          td {
            cursor: default;
            border: 2px solid $black;
            padding: 5px;
          }
        }
      }
    }

    .question-mark:hover {
      .info {
        display: block;
      }
    }

    .player-stats {
      background: $black;
      color: $white;
      text-align: right;
      padding: 10px;
      font-size: 18px;
    }

    .selected-stats {
      // margin-top: 10px;

      h3 {
        padding: 5px;
        border-bottom: 3px solid $black;
      }

      div {
        position: relative;

        h2 {
          padding: 5px;
          max-width: 50%;
        }
      }

      .thumbnail {
        position: absolute;
        border: 3px solid $black;
        right: 10px;
        top: 10px;
      }

      .stats {
        div {
          padding: 5px;
          margin-bottom: 5px;
          width: 50%;

          p.stat {
            font-weight: bold;
          }
        }
      }

      .actions {
        .rob-this-property {
          width: 96%;
        }
      }
    }
  }

  .actions {
    position: relative;
    bottom: 0;
    right: 0;
    text-align: right;
  }
}
